<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topdon.lib.menu">

    <application>
        <activity
            android:name="com.topdon.lib.menu.Image3DActivity"
            android:screenOrientation="userPortrait" />
    </application>

</manifest>