<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topdon.tc004">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <intent>
            <action android:name="WIFI_SETTINGS" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".activity.ConnectTipsActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.DeviceAddActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.IRMonocularActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser" />
        <activity android:name=".activity.TestVideoActivity"/>
    </application>
</manifest>